POSTGRES_USER=kasay
POSTGRES_PASSWORD=change-this-strong-password
POSTGRES_DB=bank

APP_SECURITY_JWT_SECRET=change-this-super-secret-jwt-key-to-a-long-random-value
APP_SECURITY_JWT_ACCESS_TOKEN_TTL_MINUTES=15
APP_SECURITY_JWT_REFRESH_TOKEN_TTL_DAYS=365

FRONTEND_PORT=80
